body{
  height: auto;
  margin: 0px;
  background-color: #2f3243;
  max-width: initial;
}

.container{
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-image: url(images/HandShake.jpg);
  background-attachment: fixed;

  display: flex;
  position: relative;
}
.logo{
  width: 50%;
  position:fixed;
  padding-left: 35%;
  display: flex;
}
/* calendar */
.calendar{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  z-index: 1;
}

div{
  margin: auto;
  display:block;
  width: 100%;
}

iframe{
  margin: auto;
  width: 80%;
}


/*nav bar*/
.navigation-wrapper{
  padding-top: 2px;
  padding-bottom: 10px;
  background-color: #2f3243;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* margin-top: 50px; */
  margin-top: -20px;
  width: 100%;
  opacity: 100%;
  display: flex;

  z-index: 2;

}
.nav-bar{
  display: flex;
}

.navigation-wrapper > .nav-bar > div{
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: 2px;
}

.nav-link-wrapper{
  height: 35px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  width: auto;
}
.nav-link-wrapper a{
  color: white;
  text-decoration: none;
  transition: color 0.5s;
  
}
.nav-link-wrapper:hover{
  border-bottom: 1px solid gold;
  width: auto;

}
.nav-link-wrapper a:hover{
  color: gold;
}

.contact-link-wrapper{
  text-transform: uppercase;
}
.contact-link-wrapper a{
  color:white;
  text-decoration: none;
  transition: color 0.5s;
}
.contact-link-wrapper a:hover{
  color: goldenrod;
}
.active-nav-link{
  border-bottom: 1px solid goldenrod;
  width: auto;
}
.active-nav-link a{
  color: goldenrod !important;
}

/* Content */
.content-wrapper{
  /* padding-left: 10%;
  padding-right: 10%; */
  padding-top: 20px;
  position: relative;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  width: 75%;
  box-shadow: 0px 5px 7px white;

  z-index: 1;
}

/* .about-section{
  border-style: solid;
} */

.office-inside img{
  margin-left: 10%;
  margin-top: 20 px;
  float: left;
  width: 30%;
  display: block;
  border: 3px solid black;
  border-radius: 8px;
}

.about{
  color: black;
  float: left;
  display: block;
  font-size: 4vh;
  padding-left: 10px;
  width: 49%;
  text-align: center;

}

/* Page End */
.Page-End{
  position: relative;
  background-color: #40445c;
  bottom: 0;
  height: 30vh;
  width: 100%;

  z-index: 3;
}

.column{
  width: 50%;
  display: inline;
  float: left;

  color: white;
  text-align: center;

  font-size: 2vh;
}

.logo-end{
  display: block;
  width: 20%;
}

.Gold-information{
  padding-top: auto 5px;
  padding-bottom: auto 5px;

}