body{
  height: auto;
  margin: 0px;
  background-color: #2f3243;
  max-width: initial;
}

.container{
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-image: url(images/HandShake.jpg);
  background-attachment: fixed;
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;

  z-index: 0;
}
.container img{
  max-width: 100%;
  height: auto;
}
.logo{
  width: 50%;
  position:fixed;
  padding-left: 35%;
  display: flex;
  z-index: 0;
}
/* calendar */

.calendar-wrapper{
  width: 90%;
  background-color: whitesmoke;

  z-index: 1;
}
.calendar{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
}

div{
  margin: auto;
  display:block;
  width: 100%;
}

iframe{
  margin: auto;
  width: 80%;
}


.get-info{
  width: fit-content;
  background-color: #2f3243;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 5px #2f3243;
  color: whitesmoke;

  z-index: 1;

}


.get-info h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Arial, Helvetica, 'Times New Roman';

}

.get-info input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.get-info input[type=other]{
  height: 4vh;
  width: 75%;
}

.get-info button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*nav bar*/
.navigation-wrapper{
  padding-top: 2px;
  padding-bottom: 10px;
  background-color: #2f3243;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* margin-top: 50px; */
  margin-top: -20px;
  width: 100%;
  opacity: 100%;
  display: flex;

  z-index: 2;

}
.nav-bar{
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.navigation-wrapper > .nav-bar > div{
  font-size: 2vw;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: 2px;
}

.nav-link-wrapper{
  height: 3vh;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  width: auto;
}
.nav-link-wrapper a{
  color: white;
  text-decoration: none;
  transition: color 0.5s;
  
}
.nav-link-wrapper:hover{
  border-bottom: 1px solid gold;
  width: auto;
  padding-bottom: 10px;

}
.nav-link-wrapper a:hover{
  color: gold;
}

.active-nav-link{
  border-bottom: 1px solid goldenrod;
  width: auto;
}
.active-nav-link a{
  color: goldenrod !important;
}

/* rates and policies */
.rates-n-policies{
  padding-top: 20px;
  position: relative;
  justify-content: center;
  background-color: whitesmoke;
  width: 90%;
  box-shadow: 0px 5px 7px white;

  z-index: 1;
}

.rates-n-policies ul{
  font-family: Arial, Helvetica, 'Times New Roman';
  list-style-type: square;
  font-size: 4vh;
}
.rates-n-policies p{
  font-family: Arial, Helvetica, 'Times New Roman';
  font-size: 2vh;
  padding-left: 10px;
  padding-right: 10px;
}

/* Content */
.content-wrapper{
  grid-template-columns: 1fr, 1fr;
  padding-top: 20px;
  position: relative;
  justify-content: center;
  height: fit-content;
  background-color: whitesmoke;
  width: 90%;
  box-shadow: 0px 5px 7px white;

  z-index: 1;
}
/* contact */
.contact-wrapper{
  padding-top: 20px;
  position: relative;
  justify-content: center;
  height: fit-content;
  background-color: whitesmoke;
  width: 90%;
  box-shadow: 0px 0px 7px white;

  padding-left: 20px;
}

.contact-wrapper h1{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2f3243;
  font-size: 3vw;
  font-family: Arial, Helvetica, 'Times New Roman';
}

.contact-wrapper h2{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #2f3243;
  font-size: 2vw;
  font-family: Arial, Helvetica, 'Times New Roman';
}

.contact-wrapper p{
  font-size: 1vw;
  font-family: Arial, Helvetica, 'Times New Roman';
  padding-bottom: 10px;
}
/* .about-section{
  border-style: solid;
} */

.conference-room img{
  margin-left: auto;
  margin-top: 20 px;
  margin-right: auto;
  float: center;
  width: 40%;
  display: block;
  border: 3px solid black;
  border-radius: 8px;
}

.About h1{
  color: black;
  float: center;
  display: block;
  font-size: 50px;
  padding-left: 20px;
  padding-right: auto;
  width: fit-content;
  text-align: center;
  block-size: fit-content;

}

.About p{
  font-family: Arial, Helvetica, 'Times New Roman';
  font-size: 2vw;
  text-align: center;
  display: block;
  width: fit-content;
  block-size: fit-content;
}

/* Page End */
.Page-End{
  grid-template-columns: 1fr,1fr;
  position: relative;
  background-color: #40445c;
  bottom: 0;
  height: 20vh;
  width: 100%;

  z-index: 3;
}

.column{
  width: 50%;
  display: inline;
  float: left;

  color: white;
  text-align: center;

  font-size: 1vh;
}
.contact-link-wrapper{
  text-transform: uppercase;
}
.contact-link-wrapper a{
  color:white;
  transition: color 0.5s;
}
.contact-link-wrapper a:hover{
  color: goldenrod;
}
.column .contact-link-wrapper a{
  padding-top: 10px;
  font-size: 2vh;
  font-style: bold;
}
.logo-end{
  display: block;
  width: 20%;
}

.Gold-information{
  padding-top: auto 5px;
  padding-bottom: auto 5px;
  font-size: 1vh;
}

/* profile wrapper*/
.profile-wrapper{
  grid-template-columns: 1fr, 1fr;
  padding-top: 20px;
  position: relative;
  justify-content: center;
  height: fit-content;
  background-color: whitesmoke;
  width: 90%;
  box-shadow: 0px 5px 7px white;

  z-index: 1;
}

.profile-bio p{
  font-family: Arial, Helvetica, 'Times New Roman';
  font-size: 2vw;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  font-weight: 50;
}

.profile-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px black;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}